body, html {
  background-color: #D50000;
}
/* STRUCTURE pour le login*/
/* */
/* Ajout de l'overlay dark */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);  /* This adds a dark background with 70% opacity */
  z-index: 1;  /* Ensures it's below your content */
}
/*Pour que le nav bar apparaisse au dessus de l'overlay*/
.aboveOverlay {
  position: relative;
  z-index: 2;
}

.my-navbar {
  background-color: #1B1B1B;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  padding: 10px;
  font-style: italic;
}
.red {
  color: red;
}
.navbar-brand {
  margin-left: 10px; /* Ajustez cette valeur pour augmenter/diminuer l'espace à gauche */
}



.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.bar {
  background-color: white;
  height: 3px;
  margin: 2px 0;
  width: 25px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px; /* ou la largeur que vous souhaitez */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* noirâtre */
  z-index: 1000; /* s'assurer qu'il est au-dessus des autres éléments */
  overflow-y: auto; /* permet le défilement si le contenu est trop long */
  transition: transform 1s ease-in-out;
  transform: translateX(100%); /* initialement hors de l'écran */
  text-align: center;
}

.menu-open {
  transform: translateX(0); /* ramène le menu dans la vue */
}


.menu a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  background-color: #333;
}




.arrow-icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;  /* Centrer verticalement */
}

.arrow-icon:before {
  content: '<';  /* Créez une flèche vers la gauche */
  font-size: 20px;
  color: white;
}

.menu-open {
  display: flex;       /* Faire en sorte que les éléments à l'intérieur soient flexibles */
  flex-direction: column; /* Disposer les éléments verticalement */
  justify-content: center; /* Centrer le contenu verticalement */
  height: 100vh;          /* Prendre toute la hauteur de la vue */
  width: 250px;           /* Largeur fixe pour le menu */
  background-color: rgba(0, 0, 0, 0.7); /* Fond noirâtre */
  position: absolute;     /* Positionnement absolu */
  right: 0;               /* Collé à la droite */
  top: 0;                 /* Collé au haut */
}

.arrow-button-outside {
  position: absolute;  /* Positionnement absolu pour déplacer le bouton librement */
  right: 250px;        /* Déplacez-le à gauche juste en dehors du menu. Si votre menu a une autre largeur, ajustez cette valeur */
  top: 50%;            /* Commencez à le positionner au milieu de la fenêtre */
  transform: translateY(-50%); /* Pour le centrer verticalement */
  z-index: 1001;       /* Assurez-vous qu'il est au-dessus des autres éléments */
}