/* General rules */

h2 {
  font-family: Arial !important;
  font-size: 20px !important;
  font-weight: bold !important;
  color: #000000 !important;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.grid-item {
  background-color: #FFFFFF;
  padding: 10px;
}


/* Class Rules */


.container {
  background-color: #000000;
}



.main_text {
  font-family: Arial;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #000000;
}

.account-info {
  background-color: #FFFFFF;
  border: 1px solid #D50000;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.open-bets {
  background-color: #FFFFFF;
  border: 1px solid #D50000;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}