h1 {
  font-family: Arial !important;
  font-size: 30px !important;
  font-weight: bold !important;
  color: #000000 !important;
}

h2 {
  font-family: Arial !important;
  font-size: 20px !important;
  font-weight: bold !important;
  color: #000000 !important;
}



/* Grid for body */
.grid-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(4fr);
  grid-gap: 0px;
}

.container {
  grid-row: 1/2;
}

.open-bets-section {
  grid-row: 3;
}

.account-info-section {
  grid-row: 4;
}

.account-info {
  background-color: #FFFFFF;
  border: 1px solid #D50000;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}