body, html {
  background-color: #D50000;
}
/* STRUCTURE pour le register*/
/* */
/* Ajout de l'overlay dark */
.background {
  position: absolute; /* pour positionner correctement les enfants absolus comme l'overlay */
  z-index: 1;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat; /* Centrer verticalement */
  width: 100vw;
  height: 100vh;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); /* Voile noir avec une opacité de 75% */
  z-index: 2; /* Assurez-vous que l'overlay est au-dessus des autres éléments */
}

.registration-widget {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #CB4D4D;
  color: white;
  justify-content: space-between;
  padding: 40px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10; /* Le widget d'inscription doit être au-dessus de l'overlay */
  border-radius: 25px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  gap: 10px; /* Spacing between children */
}

.welcome {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 40px;
}

.registration-widget [type="submit"] {
  color: white;
  background-color: #1B1B1B;
  border-radius: 20px;
  border: none; /* Supprime la bordure par défaut */
  font-size: larger;
  cursor: pointer; /* Change le curseur lors du survol */
  padding: 10px 20px; /* Ajoute un peu de rembourrage pour rendre le bouton plus grand */
  width: 50%; /* Ajustez selon vos préférences */
  margin: 20px 80px 0;
}

.registration-widget [type="text"],
.registration-widget [type="email"],
.registration-widget [type="password"] {
  background-color: white;
  border-radius: 15px;
  font-size:small;
  font-weight: bold;
  color:#1B1B1B;
  padding: 10px 20px; /* Ajoute un peu de rembourrage pour rendre les entrées plus grandes */
  width: 100%; /* Prend toute la largeur du parent */
  box-sizing: border-box; /* S'assure que la bordure et le rembourrage sont inclus dans la largeur totale */
  border: 1px solid #ccc; /* Ajoute une bordure subtile */
  margin: 6px 0;
}

/*Pour que le nav bar apparaisse au dessus de l'overlay*/
.aboveOverlay {
  position: relative;
  z-index: 2;
}

.my-navbar {
  background-color: #1B1B1B;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  padding: 10px;
  font-style: italic;
}
.red {
  color: red;
}
.navbar-brand {
  margin-left: 10px; /* Ajustez cette valeur pour augmenter/diminuer l'espace à gauche */
}

/* STRUCTURE pour le register*/
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

#formHeader {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    text-align: center;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
  }



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

.container2 {
  position: absolute; /* Positionnement absolu par rapport à container2 */
  top: 27%; /* Centre l'image verticalement */
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 80vw; /* 100% of the viewport width */
  height: 40vh; /* 40% of the viewport height */
  overflow: hidden; /* Ensure no spillover from the container */
  color: #D50000 ;
  font-style: italic;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  border-radius: 25px;
}
.container2 h1 .red {
  color: #D50000; /* For "Bet" */
  font-style: italic;
}
.container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* This creates a dark overlay. Adjust the 0.3 as needed. */
  z-index: 0;
}

/* FORM TYPOGRAPHY*/

input[type=button], .btn-register, input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(243, 246, 248, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, .btn-register:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, .btn-register:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password], input[type=email] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]::placeholder, input[type=password]::placeholder, input[type=email]::placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fadeIn.five {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.fadeIn.six {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

.form-padding {
    margin-top: 5px;
}
* {
  box-sizing: border-box;
}