.navbar-dark .navbar-nav .nav-link,


.link-pointer {
  cursor: pointer;
}

#carouselExampleIndicators {
  height: auto;
}

.buttom-text {
  color: rgb(4, 0, 0);
  font-size: 16px;
  text-align: center;
  padding: 100px;
}